/* 首屏内容结构 */

/* 左板块 */
#first-screen .first-left {
    width: 890px;
    height: 621px;
    /* background-color: rgba(8, 236, 248, 0.3); */
}

/* 左板块-左侧导航 */
#first-screen .left-nav {
    width: 190px;
    height: 522px;
    background-color: #fff;
    border: 1px solid #ff5000;
    border-top: none;
    padding-top: 5px;
    box-sizing: border-box;
}

#first-screen .left-nav li {
    position: relative;
    height: 32px;
    line-height: 32px;
    padding-left: 25px;
    color: #666;
    transition: background-color .3s;
    font-size: 14px;
}

#first-screen .left-nav li:hover {
    background-color: #ffe4dc;
    color: #f40;
}

#first-screen .left-nav li:hover a {
    color: #f40;
}

#first-screen .left-nav li a {
    font-size: 14px;
    color: #666;
    transition: background-color .3s;
}

#first-screen .left-nav li a:hover {
    text-decoration: underline;
}

#first-screen .left-nav span {
    position: absolute;
    right: 10px;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    /* margin-right: 5px; */
}

/* 轮播图-1 */
#first-screen .banner1 {
    /* position: relative; */
    width: 690px;
    height: 280px;
    /* background-color: #eee; */
    margin-top: 10px;
}

#first-screen .pic {
    position: relative;
    width: 520px;
}

#first-screen .pic button{
    width: 20px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, .3); /* 支持情况:IE9+ */
    /* 兼容IE */
    background-color: #000\9; /* \9意为让IE9以下的浏览器认识 */
    filter: alpha(opacity=30); /* 透明 */
    position: absolute;
    top:50%;
    margin-top: -15px;

    display: none;
}
#first-screen .pic button.r-btn{
    border-radius: 0 15px 15px 0;
}

#first-screen .pic button.l-btn{
    right: 0;
    border-radius: 15px 0 0 15px;
}

#first-screen .pic:hover button{
    display: block;
}

#first-screen .pic .circle{
    position: absolute;
    bottom: 15px;
    left: calc(50% - 7px * 5);
    font-size: 0;
    padding: 3px 0;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 10px;
}
#first-screen .pic .circle span{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    margin: 2px 3px;
    cursor: pointer;
}
#first-screen .pic .circle span.active{
    background-color: #ff5000;
}

#first-screen .ad{
    width: 160px;
}
#first-screen .ad img{
    width: 160px;
}




/* 轮播图-2 */
#first-screen .banner2 {
    /* position: absolute; */
    width: 690px;
    height: 220px;
    /* background-color: #ccc; */
    margin-top: 10px;
}

#first-screen .banner2 .pic-title{
    height: 20px;
}
#first-screen .banner2 .pic-title .text{
    height: 17px;
    line-height: 17px;
}

#first-screen .banner2 .pic-title .text .bg{
    background: url(../images/title_bg.png) no-repeat left;
    padding-left: 136px;
    color:#666;
}
#first-screen .banner2 .pic-title .text i{
    color: #ff1648;
}

#first-screen .banner2 .line{
    position: relative;
    height: 3px;
    background-color: #ff1648;
}
#first-screen .banner2 .line span{
    position: absolute;
    left: 0;
    width: 87px;
    height: 3px;
    background-color: #000;
}

#first-screen .banner2 .img-box{
    width: 520px;
    height: 200px;
    background-color: #fff;
    position: relative;
    font-size: 0;
    display: table-cell;
    vertical-align: middle;
    
    /* 弹性盒模型 */
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

#first-screen .banner2 .img-box img{
    margin: 0 10px;
}

#first-screen .banner2 .ad .title{
    height: 20px;
    line-height: 20px;
    color: #a5a5a5;
}


